body {

}

.searchFormContainer {
    position: absolute;
    top: 64px;
    bottom: 0px;
    margin-bottom: 8px;
}

.searchFormContainer #inputSearchText {
    height: 100%;
}

#editClichePage #description {
    height: 12em;
}

.clfi_match {
    background-color: yellow;
}